.header__lang-link {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
}

.header__lang-link:hover {
  cursor: url(../../../images/pointer/Pointer.svg), pointer;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
