.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 284px));
  max-width: 1184px;
  column-gap: 16px;
  row-gap: 16px;
  margin: 0 48px 92px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, minmax(min-content, 300px));
    row-gap: 14px;
    column-gap: 14px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, minmax(min-content, 352px));
    max-width: 720px;
    margin: 88px auto 88px;
    row-gap: 16px;
    column-gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(1, minmax(min-content, 288px));
    max-width: 288px;
    margin: 64px 16px 64px;
    row-gap: 12px;
  }
}
