.places {
  max-width: 984px;
  margin: 92px 148px 0;
  row-gap: 80px;
  display: grid;
}

@media screen and (max-width: 1024px) {
  .places {
    margin: 92px 48px 0;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin: 88px 24px 0;
    row-gap: 73px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    margin: 0 0 66px;
    row-gap: 50px;
  }
}
