.lead {
  max-width: 984px;
  max-height: 1005px;
  margin: 56px max(148px) 92px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    max-height: 962px;
    margin: 48px max(48px) 92px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    max-height: 862px;
    margin: 48px 0 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
    max-height: 406px;
    margin: 48px 0 64px;
  }
}
