.cover__subtitle {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  z-index: 3;
  margin: 0;
  max-width: 360px;
}

.cover__subtitle:hover {
  cursor: url(../../../images/pointer/Pointer.svg), pointer;
}

@media screen and (max-width: 530px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}
