.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 28px 48px 56px;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin: 28px 48px 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    margin: 28px 24px 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    max-height: 48px;
    margin: 16px 16px 48px;
  }
}
