.footer__links {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 565px) {
  .footer__links {
    flex-direction: column;
    row-gap: 32px;
  }
}
