.place__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    max-width: 288px;
    margin: 0 max(16px);
  }
}
