.lead__subtitle {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 64px;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 375px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 40px;
  }
}
