.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: 92px max(48px);
}

@media (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
    margin: 92px 0;
  }
}
@media (max-width: 768px) {
  .cover {
    max-width: 100%;
    min-height: 480px;
    margin: 90px 0 88px;
  }
}

@media (max-width: 320px) {
  .cover {
    max-width: 100%;
    min-height: 200px;
    margin: 66px 0 64px;
  }
}
