.place__link {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
}

.place__link:hover {
  cursor: url(../../../images/pointer/Pointer.svg), pointer;
  opacity: 0.8;
}
