.cover__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 32px;
  z-index: 3;
  max-width: 560px;
}

.cover__title:hover {
  cursor: url(../../../images/pointer/Pointer.svg), pointer;
}

@media screen and (max-width: 530px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 16px;
    max-width: 255px;
  }
}
