.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: minmax(min-content, 460px) 1fr;
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(min-content, 440px) 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: minmax(min-content, 340px) 1fr;
    column-gap: 28px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    max-width: 320px;
    grid-template-columns: minmax(min-content, 320px);
    row-gap: 32px;
  }
}
