.footer {
  max-width: 1184px;
  max-height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 0 24px 24px;
  }
}

@media screen and (max-width: 565px) {
  .footer {
    max-width: 188px;
    max-height: 310px;
    margin: 0 auto 0 16px;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
}
