.intro__title {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    padding-right: 37px;
  }
}
